@using LibraryMVC.Models.View
@model BookInputModel

@{
    ViewData["Title"] = "BookCrate";
}

<h1>BookCrate</h1>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BookCrate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Name </label>
                <input asp-for="BookName" class="form-control" /><br />
                <span asp-validation-for="BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Price</label>
                <input asp-for="BookPrice" class="form-control" /><br />
                <span asp-validation-for="BookPrice" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Relase Date</label>
                <input asp-for="RelaseDate" class="form-control" /> <br />
                <span asp-validation-for="RelaseDate" class="text-danger"></span>
            </div>
            
           <div class="form-group">
                <label class="control-label">Select Author</label><br />
                <select asp-for="AuthorId" class="form-control" asp-items="ViewBag.Author">
                    <option></option>
                </select>

           </div>
            <br />
            <div class="form-group">
                <label class="control-label">Select Category</label><br />
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId">
                    <option></option>
                </select>


            </div><br />
            <div class="form-group">
                <br />
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input type="file" asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

