@using LibraryMVC.Models.View
@{
    ViewData["Title"] = "Index";
}
@model List<CategoryViewModel>
<h1>Index</h1>



<a asp-controller="Category" asp-action="AddCategory" class="btn btn-primary">Create</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Category Name</th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryName</td>

                <td><a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i> Delete </a>  </td>
            </tr>

        }

    </tbody>
</table>


